@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

.header__navigation-link, .header__logo-image, .header__logo-link {
  display: block;
}

.slider__item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aktionen__label, .aktionen__item, .header__navigation-link::after, .header__navigation-link, a {
  transition: all 0.3s;
}

.aktionen__label-container, .header__navigation-link, .header__container {
  position: relative;
}
.aktionen__label, .header__navigation-link::after, .header__logo-link {
  position: absolute;
}
.header {
  position: fixed;
}
.aktionen__label, .aktionen__container, .about__row, .header__navigation-list, .header__container, .flex {
  display: -ms-flexbox;
  display: flex;
}
.aktionen__label {
  -ms-flex-pack: center;
      justify-content: center;
}
.header__navigation-list {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.aktionen__label, .about__row, .header__navigation-list, .header__container {
  -ms-flex-align: center;
      align-items: center;
}
body, * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--mainfont);
  color: var(--darkgrey);
  font-size: var(--contentfontsize);
  line-height: var(--contentfontlineheight);
}

:root {
  --swiper-theme-color: var(--green);
}

body, html {
  width: 100%;
  height: 100%;
}

a {
  color: var(--green);
  text-decoration: none;
}
a:hover {
  color: var(--green);
  opacity: 0.8;
  text-decoration: none;
}
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--mainfont);
  text-transform: uppercase;
  line-height: 140%;
  margin-bottom: var(--space);
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 33px;
}

article ul {
  margin: 0 0 var(--space) 40px;
}
article ul li {
  margin-bottom: var(--space);
}
article p {
  margin-bottom: var(--space);
}
article p:last-child {
  margin-bottom: 0;
}
article p.preheadline {
  font-size: 20px;
  margin-bottom: 0;
}

.module {
  padding-top: 120px;
}
@media (max-width: 1024px) {
  .module {
    padding-top: 80px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--content {
  max-width: 1024px;
}

.global-padding {
  padding-bottom: var(--blockspace);
}
.global-padding--top {
  padding-top: var(--blockspace);
}
.global-margin {
  margin-bottom: var(--blockspace);
}

.bg--green {
  background-color: var(--green);
}
.bg--darkgrey {
  background-color: var(--darkgrey);
}
.bg--lightgrey {
  background-color: var(--lightgrey);
}

.title {
  text-align: center;
  color: var(--green);
  margin-bottom: var(--blockspace);
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.11);
}
@media (max-width: 1024px) {
  .header {
    min-height: 80px;
  }
}
.header__container {
  max-width: 1024px;
}
@media (max-width: 1024px) {
  .header__container {
    min-height: inherit;
  }
}
.header__logo {
  width: 20%;
}
.header__logo-link {
  box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.11);
  top: 0;
  width: 184px;
  height: 156px;
  background-color: var(--green);
  border-radius: 0px 0px 7px 7px;
}
.header__logo-link:hover {
  opacity: 1;
}
.header__logo-image {
  margin: auto;
  height: 100%;
}
.header__navigation {
  width: 80%;
}
.header__navigation-list {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .header__navigation-list {
    display: none;
    position: fixed;
    right: 0;
    top: 80px;
    width: 306px;
    background: var(--lightgrey);
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.11);
  }
}
@media (max-width: 1024px) {
  .header__navigation-list.active {
    display: block;
  }
}
.header__navigation-link {
  color: var(--darkgrey);
  font-size: 18px;
  text-transform: uppercase;
  padding: 48px 37px 48px 0;
}
@media (max-width: 1024px) {
  .header__navigation-link {
    padding: 15px 38px;
  }
}
.header__navigation-link::after {
  content: "";
  left: 0;
  bottom: 0;
  width: calc(100% - 37px);
  height: 4px;
  background-color: var(--green);
  opacity: 0;
}
@media (max-width: 1024px) {
  .header__navigation-link::after {
    width: 100%;
  }
}
.header__navigation-link.active {
  color: var(--green);
}
.header__navigation-link.active::after {
  opacity: 1;
}
.header__navigation-icon {
  display: none;
}
@media (max-width: 1024px) {
  .header__navigation-icon {
    display: block;
    width: 48px;
    position: absolute;
    right: 30px;
    top: 23px;
    cursor: pointer;
  }
}
.header.active .header__logo-link {
  height: 129px;
}
.header.active .header__navigation-link {
  padding: 35px 37px 35px 0;
}
@media (max-width: 1024px) {
  .header.active .header__navigation-link {
    padding: 15px 38px;
  }
}

.footer {
  height: 70px;
}

.slider__item {
  min-height: 470px;
}
.slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--white);
  opacity: 0.9;
}
.slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--green);
}

.about__image {
  width: 49%;
  margin-right: 10px;
  margin-bottom: var(--space);
}
.about__content {
  width: 49%;
  max-width: 513px;
}

.aktionen__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aktionen__item {
  width: calc( 33% - 22px);
  margin: 11px;
}
.aktionen__item--left {
  margin-left: 0;
}
.aktionen__item:hover {
  background-color: var(--green);
  color: var(--white);
  transform: scale(1.02);
  border-radius: 7px;
  box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.11);
}
.aktionen__item:hover .aktionen__item-icon .svg-stroke {
  stroke: var(--white);
}
.aktionen__item:hover .aktionen__item-icon .svg-fill {
  fill: var(--white);
}
.aktionen__item-icon {
  width: 135px;
  margin: 16px auto;
}
.aktionen__item-content {
  max-width: 220px;
  text-align: center;
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
}
.aktionen__label {
  width: 220px;
  height: 220px;
  box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.11);
  -ms-flex-direction: column;
      flex-direction: column;
  right: 70px;
  bottom: -80px;
  border-radius: 50%;
  background-color: var(--purple);
  text-align: center;
  color: var(--white);
  transform: rotate(6deg);
}
.aktionen__label:hover {
  transform: rotate(5deg) scale(1.04);
}
.aktionen__label-container {
  min-height: inherit;
}
.aktionen__label-headline {
  font-size: 18px;
  margin-bottom: 9px;
}
.aktionen__label-content {
  font-size: 15px;
  line-height: 136%;
}

.parallax__image {
  min-height: 480px;
}

/*# sourceMappingURL=style.css.map */