.footer{
    padding: 28px 0;

    *{
        color: $white;
    }

    &__container{
        @extend %flex;
        @extend %flex--jsb;
        @extend %flex--ac;
    }

    &__copyright{
        margin-bottom: 0;
    }
}