body, * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-size: 15px;
    line-height: 120%;

    @extend %font--content;
    @extend %font--normal;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    color: $maincolor;
    text-decoration: none;
}

p{
    margin-bottom: 1.2em;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

strong{
    font-weight: 700;
}

article {
    h1, h2, h3, h4, h5, h6 {
        padding-bottom: 0;
        margin-bottom: 35px;
    }

    ul {
        margin: 0 0 35px 40px;

        li {
            margin-bottom: 5px;
        }
    }
}

.module{
    padding-top: 111px;
}