.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 110px;
    box-shadow: 1px 1px 8px #a5a5a5;

    &__container{
        @extend %flex;
        @extend %flex--ac;

        height: inherit;
    }

    &__logo{
        width: 20%;

        &-link{
            display: block;
        }
    }
    
    &__navigation{
        width: 80%;

        &-list{
            @extend %flex; 
            @extend %flex--je;
            @extend %flex--ac;
        }

        &-item{
            margin-right: 23px;

            &:last-child{
                margin-right: 0;
            }
        }

        &-link{
            $selector: &;

            display: inline-block;
            position: relative;
            color: $white;
            font-size: 17px;

            @extend %transition;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px;
                
                width: 0;
                height: 2px;

                background-color: $white;
                
                @extend %transition;
            }

            &:hover{
                &::after{
                    width: 100%;
                }
            }
        }

        &-dropdown{
            display: none;
        }
    }

}