%font{
    &--content{
        font-family: $opensans;
    }

    &--headline{
        font-family: $raleway;
    }

    &--normal{
        font-weight: 400;
    }

    &--bold{
        font-weight: 700;
    }

    &--extrabold{
        font-weight: 800;
    }
}

%transition{
    transition: all .2s linear;
}

%flex{
    display: flex;

    //  Justify Content
    &--js{
        justify-content: flex-start;
    }

    &--jc{
        justify-content: center;
    }

    &--je{
        justify-content: flex-end;
    }

    &--jsb{
        justify-content: space-between;
    }

    &--wrap{
        flex-wrap: wrap;
    }

    // Align Items
    &--as{
        align-items: flex-start;
    }

    &--ac{
        align-items: center;
    }

    &--ae{
        align-items: flex-end;
    }
}