// Color
$maincolor: #f2a010;
$white: #ffffff;
$black: #000000;
$darkgrey: #454545;

// Fonts 
$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

@mixin breakpoint($point) {

    @if $point == xl {
        @media (max-width: $xl) { 
            @content; 
        }
    }

    @else if $point == lg {
        @media (max-width: $lg) { 
            @content; 
        }
    }

    @else if $point == md {
        @media (max-width: $md) { 
            @content; 
        }
    }

    @else if $point == sm {
        @media (max-width: $sm)  { 
            @content; 
        }
    }

    @else if $point == xs {
        @media (max-width: $xs)  { 
            @content; 
        }
    }

    @else {
        @media (max-width: $point)  { 
            @content; 
        }
    }
}
