.flex{
    @extend %flex;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    &--content {
        max-width: 1024px;
    }
}

.global {
    &-padding {
        padding-bottom: var(--blockspace);

        &--top {
            padding-top: var(--blockspace);
        }
    }

    &-margin {
        margin-bottom: var(--blockspace);
    }
}

.bg{
    &--green {
        background-color: var(--green);
    }

    &--darkgrey{
        background-color: var(--darkgrey);
    }

    &--lightgrey {
        background-color: var(--lightgrey);
    }
}


.title {
    text-align: center;
    color: var(--green);
    margin-bottom: var(--blockspace);
}