%font{
    &--normal{
        font-weight: 400;
    }

    &--bold{
        font-weight: 700;
    }
}

%block{
    display: block;
}

%bg {
    &--cover{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

%transition{
    transition: all .3s;
}

%pos{
    &--relative{
        position: relative;
    }

    &--absolute{
        position: absolute;
    }

    &--fixed{
        position: fixed;
    }

    &--static{
        position: static;
    }
}

%flex{
    display: flex;

    //  Justify Content
    &--js{
        justify-content: flex-start;
    }

    &--jc{
        justify-content: center;
    }

    &--je{
        justify-content: flex-end;
    }

    &--jsb{
        justify-content: space-between;
    }

    &--wrap{
        flex-wrap: wrap;
    }

    // Align Items
    &--as{
        align-items: flex-start;
    }

    &--ac{
        align-items: center;
    }

    &--ae{
        align-items: flex-end;
    }
}