$md: 1024px;
$sm: 768px;
$xs: 640px;

@mixin breakpoint($point) {

    @if $point == xl {
        @media (max-width: $xl) { 
            @content; 
        }
    }

    @else if $point == lg {
        @media (max-width: $lg) { 
            @content; 
        }
    }

    @else if $point == md {
        @media (max-width: $md) { 
            @content; 
        }
    }

    @else if $point == sm {
        @media (max-width: $sm)  { 
            @content; 
        }
    }

    @else if $point == xs {
        @media (max-width: $xs)  { 
            @content; 
        }
    }

    @else {
        @media (max-width: $point)  { 
            @content; 
        }
    }
}


// Box Shadow 
@mixin shadow {
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.11);
}